<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

<title>{{title}} - Fresh Vine {{sectionTitle}}</title>

<!-- Spark theme mods -->
<link href='/assets/css/style.css' rel='stylesheet'>
<link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/49057/Dashboard/style.css?9t9e91">

<!-- Meta -->
<meta content="{{title}} - Fresh Vine {{sectionTitle}}" property="og:title">
<meta content="Fresh Vine" property="og:site_name">
<!--<meta content="" property="og:image"> -->
<!--<meta content="{{path.base}} | {{path.dir}} | {{path.ext}} | {{path.name}} | {{path.href}}" property="og:url"> -->
<meta content="https://freshvine.co/" property="og:see_also">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@FreshVine">
<meta name="twitter:creator" content="@FreshVineIO">
<meta name="twitter:title" content="{{title}} - Fresh Vine {{sectionTitle}}">
{{#if pageSocialImage}}
<meta name="twitter:image" content="{{pageSocialImage}}">
<meta content="{{pageSocialImage}}" property="og:image">
{{else}}
<meta name="twitter:image" content="https://docs.freshvine.co/assets/touch-docs-196.png">
<meta content="https://docs.freshvine.co/assets/touch-docs-196.png" property="og:image">
{{/if}}


{{#if pageDescription}}
<meta content="{{pageDescription}}" name="description">
<meta content="{{pageDescription}}" property="og:description">
<meta name="twitter:description" content="{{pageDescription}}">
{{/if}}

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/assets/touch/icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/assets/touch/icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/assets/touch/icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/assets/touch/icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/assets/touch/icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/assets/touch/icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/assets/touch/icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/assets/touch/icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/touch/icon-180x180.png" />
